In [1]:
import pandas as pd
import re

In [2]:
pd.set_option('display.max.rows', 150)

# Cleaning Data from DataSource3

#### Read in CSV Files

In [3]:
colleges123 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges123.csv")
colleges123

                          NAME          MAJORS
0                Cyber College     Computer Sc
1                Cyber College  Information Sc
2                Cyber College      Applied Sc
3          College of Business      Accounting
4          College of Business  Business Admin
5          College of Business       Economics
6         College of Education   Elementary Ed
7         College of Education    Secondary Ed
8   College of Art and Science         Biology
9   College of Art and Science       Chemistry
10  College of Art and Science         English

In [ ]:
colleges1_2['NAME'] = colleges1_2['NAME'].fillna(method='ffill')
result = colleges1_2.groupby('NAME')['MAJORS'].agg(list).reset_index()
cleaned_colleges1_2 = result.copy()
cleaned_colleges1_2

In [4]:
df1_2 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - ds1_2.csv")
df1_2

,ID,Name,Address,Major,Degree,GPA,MonthDay,Y,Status
0,933,GG. Art,Savannah,English,BA,3.1,Aug.15,91,N
1,941,BB. Mercy,Savannah,English,MA,4.0,Aug. 15,91,N
2,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,89,I
3,667,K. Chen,Conway,Elementary,EdD,3.2,Aug. 15,92,O
4,529,M. Yu,Conway,Secondary,MS,3.2,May 15,90,I
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,July 48,87,O
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,July 4,84,N
7,688,Y. Crema,Little Rock,Biology,AS,2.2,June 1,87,N
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,Dec.15,91,O
9,100,A. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,I
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,87,N
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,N
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,92,I
13,300,C. Cook,Little Rock,Biology,BS,2.2,June 1,87,I
14,400,D. Morty,Atlanta,Biology,BS,3.9,July 4,84,N
15,422,U. Yu,Conway,Secondary,MS,3.2,May 15,90,O
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,July 4,90,O
17,401,D. Morgan,Conway,Biology,BS,3.9,July 4,87,I
18,702,Y. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,July 4,87,N
21,415,T. King,Conway,Elementary,EdD,3.2,Aug. 15,90,N
22,901,C. Crema,Little Rock,Biology,AS,2.2,June 1,87,O
23,222,D. Abul,Savannah,Economics,BA,3.9,Aug. 15,90,N
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Aug. 15,90,N
25,431,W.Goos,Savannah,Accounting,BA,4.1,Aug. 15,90,O
26,421,T. Chen,Conway,Elementary,EdD,3.2,Aug. 15,91,I
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,Dec.15,92,I
28,689,Y. Morgan,Conway,Biology,BS,3.9,July 4,87,N
29,195,D. Red,Seattle,Info Sc,BS,2.1,Dec. 15,90,O
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,July 15,87,O
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,I
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,June 1,84,N
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,June 18,87,N
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,July 15,84,O
35,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,89,O
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,July 4,88,O
37,132,A. White,Orlando,Computer Sc,AS,3.9,Aug 15,92,N
38,100,A. Jones,Little Rock,Computer Sc,MS,3.2,May 15,87,N
39,232,K. Blue,Little Rock,English,AS,3.1,Aug 15,91,I
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Aug 15,90,O
41,600,C. Jones,Dallas,Info Sc,BS,4.0,Dec. 15,88,O
42,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,90,O
43,682,Y. Cook,Little Rock,Biology,BS,2.2,June 1,87,O
44,400,D. Morty,Seattle,Info Sc,BS,2.1,Dec. 15,88,I
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Aug 15,88,I
46,590,X. Cook,Little Rock,Biology,AS,2.2,June 1,92,N
47,690,D. Brown,Atlanta,Biology,BS,3.9,July 4,88,N
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,July 4,89,N
49,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,91,N
50,185,X. Jones,New York,Info Sc,BS,4.0,Dec. 15,90,N
51,700,A. Boss,Seattle,Elementary,MS,3.3,Aug. 15,84,I
52,800,K. Queen,Conway,Elementary,EdD,3.2,Aug. 15,89,O
53,416,T. Gola,Conway,Secondary,MS,3.2,May 15,90,N
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,N
55,900,B. Gola,Conway,Secondary,MS,3.2,May 15,87,I
56,955,K. Booth,Atlanta,Secondary,MS,3.9,May 15,87,O
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,Dec.15,89,O
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Aug 15,86,I
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Aug 15,86,N
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Aug 15,86,N
61,229,M. Katchal,Savannah,Economics,BA,3.0,Aug. 15,91,N
62,339,H.Poory,Atlanta,B Admin,BA,3.9,Aug. 15,87,N
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Aug. 15,87,O
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Aug. 15,91,N
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,Aug. 15,87,N
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Aug. 15,87,O
67,650,D. Sorty,Atlanta,Biology,BS,3.9,July 4,84,N
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,July 4,84,N
69,850,F. Jones,New York,Info Sc,BS,4.0,Dec. 15,85,I
70,950,D. Golden,Seattle,Info Sc,BS,2.1,Dec. 15,85,I
71,165,A. Silver,Seattle,Elementary,MS,3.3,Aug. 15,85,O
72,417,T. Dool,Atlanta,English,MS,3.9,July 4-9,92,O
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,92,O
74,419,T. Red,Seattle,Info Sc,BS,2.1,Dec. 15,92,O
75,215,K. King,Conway,Elementary,EdD,3.2,Aug. 15,84,N
76,315,M. Gola,Conway,English,MS,3.2,May 15,84,N
77,255,K. Dool,Atlanta,Engl,MS,3.9,July 4,86,N
78,299,M. Golab,Seatel,Chemistry,BS,3.0,May 15,92,N
79,199,K. Duell,Atlanta,Biology,AS,4.0,Dec. 15,88,I
80,473,M. Browny,Seattle,CS,PhD,4.0,May.15,92,I
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,June 1,92,O
82,205,K. Minges,Conway,Elementary,EdD,3.2,Aug. 15,84,N
83,305,H. Molar,Conway,Biology,MS,3.2,July 4,84,N
84,207,K. Goolar,Atlanta,Chemistry,MS,3.9,July 4,86,N
85,107,M. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
86,305,M. Searsy,Conway,Biol,MS,3.2,July 4,84,N
87,207,P. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
88,107,M. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
89,109,P. Board,Atlanta,Chem,AS,4.0,Dec. 15,88,I
90,305,M. Korp,Conway,Biology,MS,3.2,July 4,84,N
91,109,G. Bear,Little Rock,Biology,AS,4.0,Dec. 15,88,O
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
93,391,X. Searsy,Conway,Biology,MS,3.2,July 4,84,N
94,201,Y. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
95,117,W. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
96,612,V. Board,Atlanta,Chemistry,AS,4.0,Dec. 15,88,I
97,305,M. Kartsoo,Conway,Biology,MS,3.2,July 4,84,N
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,Dec. 15,88,O
99,615,K. Jiring,Conway,Element.,BA,3.2,Aug. 15,84,N
100,715,M. Chendo,Conway,Secondary,MS,3.2,May 15,84,N
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,July 4,86,N
102,699,A. Woo,Seattle,Elementary,BA,3.0,May 15,92,N
103,933,CC. Artian,Atlanta,English,BA,2.9,Aug.15,91,N
104,941,D. Merdoo,Atlanta,English,MA,2.8,Aug. 15,91,N

In [ ]:
colleges3 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges3.csv")
colleges3

In [5]:
df3 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - ds3.csv")
df3

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,1,4.0,Sum1,89,1
1,961,QT. Brady,Pine Bluff,Computer\nSc,1,3.8,Sum2,87,1
2,962,UL. Jones,Little Rock,Computer\nSc,1,3.1,Sum2,84,2
3,970,Bf. Brady,Little Rock,Applied Sc,1,3.2,Sum1,92,2
4,975,CM. Cook,Little Rock,Biology,2,2.2,F,87,2
5,412,DP. Morty,Atlanta,Biology,3,3.9,S,84,2
6,971,UK. Yu,Conway,Secondary,4,3.2,F,90,2
7,989,Li. Mooshe,Atlanta,Secondary,4,3.9,F,90,3
8,998,Di. Morgan,Conway,Biology,4,3.9,S,87,3
9,964,YH. Brady,Conway,Applied Sc,3,3.2,Sum1,87,3
10,977,WT. Brady,Conway,Applied Sc,3,3.2,Sum2,87,3
11,987,AC. Bank,Conway,Applied Sc,3,3.2,Sum2,87,3
12,988,TP. Kim,Conway,Elementary,2,3.2,Sum1,90,3
13,902,CY. Crema,Little Rock,Biology,2,2.2,S,87,3
14,969,D. Abuly,Savannah,Economics,2,3.9,S,90,5
15,968,G. Halky,Atlanta,B Admin,2,2.9,S,90,5
16,967,W.Goast,Savannah,Accounting,2,4.1,F,90,5
17,833,T. Chenty,Conway,Elementary,1,3.2,Sum1,91,5
18,124,U. Algy,Denver,Applied Sc,1,4.0,S,92,1
19,976,YI. Torgan,Conway,Biology,1,3.9,S,87,1
20,100,D. Reddyg,Seattle,Info Sc,4,2.1,F,90,1
21,969,Y. Bankrpt,Conway,Applied Sc,4,3.2,Sum1,87,2
22,901,UI. Wagon,Little Rock,Computer S,4,3.1,Sum1,84,2
23,902,C. Browner,Denver,Applied Sc,4,4.0,S,89,2
24,777,F. Anglic,Atlanta,Biology,2,3.9,S,90,3
25,779,BB. Goofan,Atlanta,Chemistry,2,2.1,F,91,3

## 'Degree Column'

Convert Degree column for Students table from dataframe df3. Change integer values of degree to that of mapped string degree values like ds1_2 'Degree' column. 
Create a mapping based on datasources csv files.

In [6]:
datasources1_2 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - datasources1_2.csv")
datasource3 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - datasource3.csv")
datasources1_2, datasource3

(  Classification                            Degrees
 0             AS                   Associate degree
 1             BS                Bachelor of Science
 2             BA                    Bachelor of Art
 3             MS                  Master of Science
 4             MA                      Master of Art
 5            MBA  Master of Business Administration
 6            EdD                Doctor of Education
 7            PhD               Doctor of Philosophy,
    Classification              Degrees
 0               1     Associate degree
 1               2  Bachelor of Science
 2               3      Bachelor of Art
 3               4    Master of Science
 4               5  Doctor of Education)

Create the mapping dictionary to map integer classification to string classifications.

In [7]:
classification_mapping = {
    1: 'AS',
    2: 'BS',
    3: 'BA',
    4: 'MS',
    5: 'EdD'
}
classification_mapping

{1: 'AS', 2: 'BS', 3: 'BA', 4: 'MS', 5: 'EdD'}

Check if new classifications are correct. If correct restart running jupyter notebook at cell 7, and dont run this line on next run through.

In [8]:
datasource3['Classification'] = datasource3['Classification'].map(classification_mapping)
datasource3['Classification']

0     AS
1     BS
2     BA
3     MS
4    EdD
Name: Classification, dtype: object

Do the conversion for dataframe df3 based on classification mapping.

In [9]:
df3['Degree'] = df3['Degree'].map(classification_mapping)
df3

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,89,1
1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,87,1
2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,84,2
3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,92,2
4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,87,2
5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,84,2
6,971,UK. Yu,Conway,Secondary,MS,3.2,F,90,2
7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,90,3
8,998,Di. Morgan,Conway,Biology,MS,3.9,S,87,3
9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,87,3
10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,87,3
11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,87,3
12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,90,3
13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,87,3
14,969,D. Abuly,Savannah,Economics,BS,3.9,S,90,5
15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,90,5
16,967,W.Goast,Savannah,Accounting,BS,4.1,F,90,5
17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,91,5
18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,92,1
19,976,YI. Torgan,Conway,Biology,AS,3.9,S,87,1
20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,90,1
21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,87,2
22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,84,2
23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,89,2
24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,90,3
25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,91,3

In [10]:
degree_cleaned_df3 = df3.copy()
degree_cleaned_df3

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,89,1
1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,87,1
2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,84,2
3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,92,2
4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,87,2
5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,84,2
6,971,UK. Yu,Conway,Secondary,MS,3.2,F,90,2
7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,90,3
8,998,Di. Morgan,Conway,Biology,MS,3.9,S,87,3
9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,87,3
10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,87,3
11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,87,3
12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,90,3
13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,87,3
14,969,D. Abuly,Savannah,Economics,BS,3.9,S,90,5
15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,90,5
16,967,W.Goast,Savannah,Accounting,BS,4.1,F,90,5
17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,91,5
18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,92,1
19,976,YI. Torgan,Conway,Biology,AS,3.9,S,87,1
20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,90,1
21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,87,2
22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,84,2
23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,89,2
24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,90,3
25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,91,3

Handle correct Degree Column Classification

In [12]:
degree_column = df1_2['Degree']
degree_column

0       BA
1       MA
2      PhD
3      EdD
4       MS
5      EdD
6       BS
7       AS
8      PhD
9       BS
10      MS
11      BS
12     PhD
13      BS
14      BS
15      MS
16     EdD
17      BS
18     PhD
19     PhD
20     PhD
21     EdD
22      AS
23      BA
24     MBA
25      BA
26     EdD
27     PhD
28      BS
29      BS
30     PhD
31     EdD
32      BS
33      MS
34      AS
35     PhD
36      MS
37      AS
38      MS
39      AS
40     PhD
41      BS
42      MS
43      BS
44      BS
45     PhD
46      AS
47      BS
48     PhD
49     PhD
50      BS
51      MS
52     EdD
53      MS
54     EdD
55      MS
56      MS
57      MS
58      MS
59      BS
60      MS
61      BA
62      BA
63      BA
64      BA
65     MBA
66      BA
67      BS
68     PhD
69      BS
70      BS
71      MS
72      MS
73     PhD
74      BS
75     EdD
76      MS
77      MS
78      BS
79      AS
80     PhD
81     MBA
82     EdD
83      MS
84      MS
85      BS
86      MS
87      MS
88      BS
89      AS
90      MS
91      AS
92      BS
93      MS
94      MS
95      BS
96      AS
97      MS
98      BS
99      BA
100     MS
101     MS
102     BA
103     BA
104     MA
Name: Degree, dtype: object

Create a list of valid degrees based on the data dictionary.

In [11]:
valid_degrees = ['AS', 'BS', 'BA', 'MS', 'MA', 'MBA', 'EdD', 'PhD']

Check each row of the 'Degree' column and identify vlaues that do not match the valid degrees. Save these invalid degrees to a new dataframe for assessment.

In [13]:
mask = ~df1_2['Degree'].isin(valid_degrees)
invalid_degree_rows = df1_2[mask]
invalid_degree_rows
#mask

Empty DataFrame
Columns: [ID, Name, Address, Major, Degree, GPA, MonthDay, Y, Status]
Index: []

## 'Status' Column

Correct the df3 status to match df1_2 status using he same mapping as the degree conversion mapping.  
Base the df3 update on datasours1_2_status and datasource3_status csv files.

Load in an dread datasours1_2_status and datasource3_status csv files.

In [14]:
datasources1_2_status = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - datasources1_2_status.csv")
datasource3_status = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - datasource3_status.csv")
datasources1_2_status, datasource3_status

(  Classification                 Status
 0              I  International Student
 1              O           Out of state
 2              N       Non-of-the above,
    Classification                 Status
 0               1  International Student
 1               2           Out of state
 2               3       Non-of-the above)

Create a mapping dictionary for the "Status" column

In [15]:
# This status mapping converts I,O,N to Status full strings.
#status_mapping = dict(zip(datasource3_status['Classification'], datasource3_status['Status']))
#status_mapping
# this status mapping converts 1,2, 3 to Status I,O,N based on Status from bboth datasource dataframes. 
status_mapping = dict(zip(datasources1_2_status['Classification'], datasource3_status[datasource3_status['Status'].isin(datasources1_2_status['Status'])]['Classification']))
status_mapping

{'I': 1, 'O': 2, 'N': 3}

In [16]:
reversed_status_mapping = {v: k for k, v in status_mapping.items()}
reversed_status_mapping

{1: 'I', 2: 'O', 3: 'N'}

In [17]:
degree_cleaned_df3['Status'] = degree_cleaned_df3['Status'].map(reversed_status_mapping)
degree_cleaned_df3

     ID        Name      Address         Major Degree  GPA Semester   Y Status
0   999   CK. Brown       Denver    Applied Sc     AS  4.0     Sum1  89      I
1   961   QT. Brady   Pine Bluff  Computer\nSc     AS  3.8     Sum2  87      I
2   962   UL. Jones  Little Rock  Computer\nSc     AS  3.1     Sum2  84      O
3   970   Bf. Brady  Little Rock    Applied Sc     AS  3.2     Sum1  92      O
4   975    CM. Cook  Little Rock       Biology     BS  2.2        F  87      O
5   412   DP. Morty      Atlanta       Biology     BA  3.9        S  84      O
6   971      UK. Yu       Conway     Secondary     MS  3.2        F  90      O
7   989  Li. Mooshe      Atlanta     Secondary     MS  3.9        F  90      N
8   998  Di. Morgan       Conway       Biology     MS  3.9        S  87      N
9   964   YH. Brady       Conway    Applied Sc     BA  3.2     Sum1  87      N
10  977   WT. Brady       Conway    Applied Sc     BA  3.2     Sum2  87      N
11  987    AC. Bank       Conway    Applied Sc     BA  3.2     Sum2  87      N
12  988     TP. Kim       Conway    Elementary     BS  3.2     Sum1  90      N
13  902   CY. Crema  Little Rock       Biology     BS  2.2        S  87      N
14  969    D. Abuly     Savannah     Economics     BS  3.9        S  90    NaN
15  968    G. Halky      Atlanta       B Admin     BS  2.9        S  90    NaN
16  967     W.Goast     Savannah    Accounting     BS  4.1        F  90    NaN
17  833   T. Chenty       Conway    Elementary     AS  3.2     Sum1  91    NaN
18  124     U. Algy       Denver    Applied Sc     AS  4.0        S  92      I
19  976  YI. Torgan       Conway       Biology     AS  3.9        S  87      I
20  100   D. Reddyg      Seattle       Info Sc     MS  2.1        F  90      I
21  969  Y. Bankrpt       Conway    Applied Sc     MS  3.2     Sum1  87      O
22  901   UI. Wagon  Little Rock    Computer S     MS  3.1     Sum1  84      O
23  902  C. Browner       Denver    Applied Sc     MS  4.0        S  89      O
24  777   F. Anglic      Atlanta       Biology     BS  3.9        S  90      N
25  779  BB. Goofan      Atlanta     Chemistry     BS  2.1        F  91      N

In [18]:
status_degree_cleaned_df = degree_cleaned_df3.copy()
status_degree_cleaned_df

     ID        Name      Address         Major Degree  GPA Semester   Y Status
0   999   CK. Brown       Denver    Applied Sc     AS  4.0     Sum1  89      I
1   961   QT. Brady   Pine Bluff  Computer\nSc     AS  3.8     Sum2  87      I
2   962   UL. Jones  Little Rock  Computer\nSc     AS  3.1     Sum2  84      O
3   970   Bf. Brady  Little Rock    Applied Sc     AS  3.2     Sum1  92      O
4   975    CM. Cook  Little Rock       Biology     BS  2.2        F  87      O
5   412   DP. Morty      Atlanta       Biology     BA  3.9        S  84      O
6   971      UK. Yu       Conway     Secondary     MS  3.2        F  90      O
7   989  Li. Mooshe      Atlanta     Secondary     MS  3.9        F  90      N
8   998  Di. Morgan       Conway       Biology     MS  3.9        S  87      N
9   964   YH. Brady       Conway    Applied Sc     BA  3.2     Sum1  87      N
10  977   WT. Brady       Conway    Applied Sc     BA  3.2     Sum2  87      N
11  987    AC. Bank       Conway    Applied Sc     BA  3.2     Sum2  87      N
12  988     TP. Kim       Conway    Elementary     BS  3.2     Sum1  90      N
13  902   CY. Crema  Little Rock       Biology     BS  2.2        S  87      N
14  969    D. Abuly     Savannah     Economics     BS  3.9        S  90    NaN
15  968    G. Halky      Atlanta       B Admin     BS  2.9        S  90    NaN
16  967     W.Goast     Savannah    Accounting     BS  4.1        F  90    NaN
17  833   T. Chenty       Conway    Elementary     AS  3.2     Sum1  91    NaN
18  124     U. Algy       Denver    Applied Sc     AS  4.0        S  92      I
19  976  YI. Torgan       Conway       Biology     AS  3.9        S  87      I
20  100   D. Reddyg      Seattle       Info Sc     MS  2.1        F  90      I
21  969  Y. Bankrpt       Conway    Applied Sc     MS  3.2     Sum1  87      O
22  901   UI. Wagon  Little Rock    Computer S     MS  3.1     Sum1  84      O
23  902  C. Browner       Denver    Applied Sc     MS  4.0        S  89      O
24  777   F. Anglic      Atlanta       Biology     BS  3.9        S  90      N
25  779  BB. Goofan      Atlanta     Chemistry     BS  2.1        F  91      N

#### Save the data frame with the cleaned degree and status columns

In [21]:
status_degree_cleaned_df.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_ds3.csv', index=False)

In [61]:
# This status mapping converts I,O,N to Status full strings.
df1_2_status_mapping = dict(zip(datasources1_2_status['Classification'], datasources1_2_status['Status']))
df1_2_status_mapping

{'I': 'International Student', 'O': 'Out of state', 'N': 'Non-of-the above'}

Testing the mapping agaisnt df1_2. All clear, for this process after merging with ds3

In [62]:
# to be used after merging to fix status to full strings. 
df1_2['Status'] = df1_2['Status'].map(df1_2_status_mapping)
df1_2

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,Non-of-the above
1,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,Non-of-the above
2,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,International Student
3,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,Out of state
4,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,International Student
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,Out of state
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,Non-of-the above
7,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Non-of-the above
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,Out of state
9,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,International Student
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,Non-of-the above
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,Non-of-the above
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,International Student
13,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,International Student
14,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
15,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,Out of state
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,Out of state
17,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,International Student
18,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,Non-of-the above
21,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,Non-of-the above
22,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Out of state
23,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,Non-of-the above
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,Non-of-the above
25,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,Out of state
26,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,International Student
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,International Student
28,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,Non-of-the above
29,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,Out of state
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,Out of state
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,International Student
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,Non-of-the above
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,Non-of-the above
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,Out of state
35,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,Out of state
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,Out of state
37,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,Non-of-the above
38,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,Non-of-the above
39,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,International Student
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,Out of state
41,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,Out of state
42,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,Out of state
43,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,Out of state
44,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,International Student
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,International Student
46,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,Non-of-the above
47,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,Non-of-the above
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,Non-of-the above
49,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,Non-of-the above
50,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,Non-of-the above
51,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,International Student
52,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,Out of state
53,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,Non-of-the above
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,Non-of-the above
55,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,International Student
56,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,Out of state
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,Out of state
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,International Student
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,Non-of-the above
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,Non-of-the above
61,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,Non-of-the above
62,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,Non-of-the above
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,Out of state
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,Non-of-the above
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,Non-of-the above
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,Out of state
67,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,Non-of-the above
69,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,International Student
70,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,International Student
71,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,Out of state
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,Out of state
74,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,Out of state
75,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
76,315,M. Gola,Conway,English,MS,3.2,S,1984,Non-of-the above
77,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,Non-of-the above
78,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,Non-of-the above
79,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,International Student
80,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,International Student
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,Out of state
82,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
83,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
84,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
85,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
86,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,Non-of-the above
87,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
88,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
89,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,International Student
90,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
91,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,Out of state
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
93,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
94,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
95,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
96,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,International Student
97,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,Out of state
99,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,Non-of-the above
100,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,Non-of-the above
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,Non-of-the above
102,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,Non-of-the above
103,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,Non-of-the above
104,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,Non-of-the above

In [20]:
df3

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,89,1
1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,87,1
2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,84,2
3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,92,2
4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,87,2
5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,84,2
6,971,UK. Yu,Conway,Secondary,MS,3.2,F,90,2
7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,90,3
8,998,Di. Morgan,Conway,Biology,MS,3.9,S,87,3
9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,87,3
10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,87,3
11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,87,3
12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,90,3
13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,87,3
14,969,D. Abuly,Savannah,Economics,BS,3.9,S,90,5
15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,90,5
16,967,W.Goast,Savannah,Accounting,BS,4.1,F,90,5
17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,91,5
18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,92,1
19,976,YI. Torgan,Conway,Biology,AS,3.9,S,87,1
20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,90,1
21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,87,2
22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,84,2
23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,89,2
24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,90,3
25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,91,3

### ________________________________________________________________________________________________________________________________________________

## 'MonthDay' Column

In [19]:
df1_2['MonthDay']

0        Aug.15
1       Aug. 15
2        Dec.15
3       Aug. 15
4        May 15
5       July 48
6        July 4
7        June 1
8        Dec.15
9        May 15
10       May 15
11       May 15
12       May 15
13       June 1
14       July 4
15       May 15
16       July 4
17       July 4
18       May 15
19       May 15
20       July 4
21      Aug. 15
22       June 1
23      Aug. 15
24      Aug. 15
25      Aug. 15
26      Aug. 15
27       Dec.15
28       July 4
29      Dec. 15
30      July 15
31      Aug. 15
32       June 1
33      June 18
34      July 15
35       Dec.15
36       July 4
37       Aug 15
38       May 15
39       Aug 15
40       Aug 15
41      Dec. 15
42       May 15
43       June 1
44      Dec. 15
45       Aug 15
46       June 1
47       July 4
48       July 4
49       May 15
50      Dec. 15
51      Aug. 15
52      Aug. 15
53       May 15
54      Aug. 15
55       May 15
56       May 15
57       Dec.15
58       Aug 15
59       Aug 15
60       Aug 15
61      Aug. 15
62      Aug. 15
63      Aug. 15
64      Aug. 15
65      Aug. 15
66      Aug. 15
67       July 4
68       July 4
69      Dec. 15
70      Dec. 15
71      Aug. 15
72     July 4-9
73       Dec.15
74      Dec. 15
75      Aug. 15
76       May 15
77       July 4
78       May 15
79      Dec. 15
80       May.15
81       June 1
82      Aug. 15
83       July 4
84       July 4
85       May 15
86       July 4
87       July 4
88       May 15
89      Dec. 15
90       July 4
91      Dec. 15
92       May 15
93       July 4
94       July 4
95       May 15
96      Dec. 15
97       July 4
98      Dec. 15
99      Aug. 15
100      May 15
101      July 4
102      May 15
103      Aug.15
104     Aug. 15
Name: MonthDay, dtype: object

Clean the MonthDay column and strip everything from the row values that is non-alhphanumerical including spaces

In [22]:
# df1_2['MonthDay'].str.replace('[.-' ''  ''   ''    ''     ''      ''       ']', ' ')
# df1_2['MonthDay'].str.replace('[^a-zA-Z0-9]', ' ')
df1_2['MonthDay'] = df1_2['MonthDay'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]+', ' ', x))
df1_2['MonthDay']

0        Aug 15
1        Aug 15
2        Dec 15
3        Aug 15
4        May 15
5       July 48
6        July 4
7        June 1
8        Dec 15
9        May 15
10       May 15
11       May 15
12       May 15
13       June 1
14       July 4
15       May 15
16       July 4
17       July 4
18       May 15
19       May 15
20       July 4
21       Aug 15
22       June 1
23       Aug 15
24       Aug 15
25       Aug 15
26       Aug 15
27       Dec 15
28       July 4
29       Dec 15
30      July 15
31       Aug 15
32       June 1
33      June 18
34      July 15
35       Dec 15
36       July 4
37       Aug 15
38       May 15
39       Aug 15
40       Aug 15
41       Dec 15
42       May 15
43       June 1
44       Dec 15
45       Aug 15
46       June 1
47       July 4
48       July 4
49       May 15
50       Dec 15
51       Aug 15
52       Aug 15
53       May 15
54       Aug 15
55       May 15
56       May 15
57       Dec 15
58       Aug 15
59       Aug 15
60       Aug 15
61       Aug 15
62       Aug 15
63       Aug 15
64       Aug 15
65       Aug 15
66       Aug 15
67       July 4
68       July 4
69       Dec 15
70       Dec 15
71       Aug 15
72     July 4 9
73       Dec 15
74       Dec 15
75       Aug 15
76       May 15
77       July 4
78       May 15
79       Dec 15
80       May 15
81       June 1
82       Aug 15
83       July 4
84       July 4
85       May 15
86       July 4
87       July 4
88       May 15
89       Dec 15
90       July 4
91       Dec 15
92       May 15
93       July 4
94       July 4
95       May 15
96       Dec 15
97       July 4
98       Dec 15
99       Aug 15
100      May 15
101      July 4
102      May 15
103      Aug 15
104      Aug 15
Name: MonthDay, dtype: object

In [23]:
def check_format(date_str):
    parts = date_str.strip().split(' ')
    if len(parts) != 2:
        return 'Invalid Format'
    month, day = parts
    if not re.match(r'^[A-Za-z]{3,4}$', month) or not re.match(r'^\d{1,2}$', day):
        return 'Invalid Format'
    return date_str

In [24]:
# Create a new DataFrame for rows with invalid formats
invalid_format_df = df1_2[df1_2['MonthDay'].apply(check_format) == 'Invalid Format']
invalid_format_df

     ID     Name  Address    Major Degree  GPA  MonthDay   Y Status
72  417  T. Dool  Atlanta  English     MS  3.9  July 4 9  92      O

In [32]:
month_name_fix = {
    'January': 'Jan', 'February': 'Feb', 'March': 'Mar',
    'April': 'Apr', 'May': 'May', 'June': 'Jun',
    'July': 'Jul', 'August': 'Aug', 'September': 'Sep',
    'October': 'Oct', 'November': 'Nov', 'December': 'Dec'
}
invalid_format_df['MonthDay'] = invalid_format_df['MonthDay'].apply(lambda x: month_name_fix.get(x.split()[0], x))
invalid_format_df['MonthDay']

C:\Users\User\AppData\Local\Temp\ipykernel_4852\1154761665.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invalid_format_df['MonthDay'] = invalid_format_df['MonthDay'].apply(lambda x: month_name_fix.get(x.split()[0], x))

72    Jul
Name: MonthDay, dtype: object

In [33]:
invalid_format_df

     ID     Name  Address    Major Degree  GPA MonthDay   Y Status
72  417  T. Dool  Atlanta  English     MS  3.9      Jul  92      O

In [34]:
# Remove rows with invalid formats from the original DataFrame
df1_2 = df1_2[df1_2['MonthDay'].apply(check_format) != 'Invalid Format']
df1_2

,ID,Name,Address,Major,Degree,GPA,MonthDay,Y,Status
0,933,GG. Art,Savannah,English,BA,3.1,Aug 15,91,N
1,941,BB. Mercy,Savannah,English,MA,4.0,Aug 15,91,N
2,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec 15,89,I
3,667,K. Chen,Conway,Elementary,EdD,3.2,Aug 15,92,O
4,529,M. Yu,Conway,Secondary,MS,3.2,May 15,90,I
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,July 48,87,O
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,July 4,84,N
7,688,Y. Crema,Little Rock,Biology,AS,2.2,June 1,87,N
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,Dec 15,91,O
9,100,A. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,I
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,87,N
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,N
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,92,I
13,300,C. Cook,Little Rock,Biology,BS,2.2,June 1,87,I
14,400,D. Morty,Atlanta,Biology,BS,3.9,July 4,84,N
15,422,U. Yu,Conway,Secondary,MS,3.2,May 15,90,O
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,July 4,90,O
17,401,D. Morgan,Conway,Biology,BS,3.9,July 4,87,I
18,702,Y. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,July 4,87,N
21,415,T. King,Conway,Elementary,EdD,3.2,Aug 15,90,N
22,901,C. Crema,Little Rock,Biology,AS,2.2,June 1,87,O
23,222,D. Abul,Savannah,Economics,BA,3.9,Aug 15,90,N
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Aug 15,90,N
25,431,W.Goos,Savannah,Accounting,BA,4.1,Aug 15,90,O
26,421,T. Chen,Conway,Elementary,EdD,3.2,Aug 15,91,I
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,Dec 15,92,I
28,689,Y. Morgan,Conway,Biology,BS,3.9,July 4,87,N
29,195,D. Red,Seattle,Info Sc,BS,2.1,Dec 15,90,O
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,July 15,87,O
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Aug 15,91,I
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,June 1,84,N
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,June 18,87,N
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,July 15,84,O
35,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec 15,89,O
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,July 4,88,O
37,132,A. White,Orlando,Computer Sc,AS,3.9,Aug 15,92,N
38,100,A. Jones,Little Rock,Computer Sc,MS,3.2,May 15,87,N
39,232,K. Blue,Little Rock,English,AS,3.1,Aug 15,91,I
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Aug 15,90,O
41,600,C. Jones,Dallas,Info Sc,BS,4.0,Dec 15,88,O
42,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,90,O
43,682,Y. Cook,Little Rock,Biology,BS,2.2,June 1,87,O
44,400,D. Morty,Seattle,Info Sc,BS,2.1,Dec 15,88,I
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Aug 15,88,I
46,590,X. Cook,Little Rock,Biology,AS,2.2,June 1,92,N
47,690,D. Brown,Atlanta,Biology,BS,3.9,July 4,88,N
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,July 4,89,N
49,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,91,N
50,185,X. Jones,New York,Info Sc,BS,4.0,Dec 15,90,N
51,700,A. Boss,Seattle,Elementary,MS,3.3,Aug 15,84,I
52,800,K. Queen,Conway,Elementary,EdD,3.2,Aug 15,89,O
53,416,T. Gola,Conway,Secondary,MS,3.2,May 15,90,N
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Aug 15,91,N
55,900,B. Gola,Conway,Secondary,MS,3.2,May 15,87,I
56,955,K. Booth,Atlanta,Secondary,MS,3.9,May 15,87,O
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,Dec 15,89,O
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Aug 15,86,I
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Aug 15,86,N
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Aug 15,86,N
61,229,M. Katchal,Savannah,Economics,BA,3.0,Aug 15,91,N
62,339,H.Poory,Atlanta,B Admin,BA,3.9,Aug 15,87,N
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Aug 15,87,O
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Aug 15,91,N
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,Aug 15,87,N
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Aug 15,87,O
67,650,D. Sorty,Atlanta,Biology,BS,3.9,July 4,84,N
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,July 4,84,N
69,850,F. Jones,New York,Info Sc,BS,4.0,Dec 15,85,I
70,950,D. Golden,Seattle,Info Sc,BS,2.1,Dec 15,85,I
71,165,A. Silver,Seattle,Elementary,MS,3.3,Aug 15,85,O
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,Dec 15,92,O
74,419,T. Red,Seattle,Info Sc,BS,2.1,Dec 15,92,O
75,215,K. King,Conway,Elementary,EdD,3.2,Aug 15,84,N
76,315,M. Gola,Conway,English,MS,3.2,May 15,84,N
77,255,K. Dool,Atlanta,Engl,MS,3.9,July 4,86,N
78,299,M. Golab,Seatel,Chemistry,BS,3.0,May 15,92,N
79,199,K. Duell,Atlanta,Biology,AS,4.0,Dec 15,88,I
80,473,M. Browny,Seattle,CS,PhD,4.0,May 15,92,I
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,June 1,92,O
82,205,K. Minges,Conway,Elementary,EdD,3.2,Aug 15,84,N
83,305,H. Molar,Conway,Biology,MS,3.2,July 4,84,N
84,207,K. Goolar,Atlanta,Chemistry,MS,3.9,July 4,86,N
85,107,M. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
86,305,M. Searsy,Conway,Biol,MS,3.2,July 4,84,N
87,207,P. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
88,107,M. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
89,109,P. Board,Atlanta,Chem,AS,4.0,Dec 15,88,I
90,305,M. Korp,Conway,Biology,MS,3.2,July 4,84,N
91,109,G. Bear,Little Rock,Biology,AS,4.0,Dec 15,88,O
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
93,391,X. Searsy,Conway,Biology,MS,3.2,July 4,84,N
94,201,Y. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
95,117,W. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
96,612,V. Board,Atlanta,Chemistry,AS,4.0,Dec 15,88,I
97,305,M. Kartsoo,Conway,Biology,MS,3.2,July 4,84,N
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,Dec 15,88,O
99,615,K. Jiring,Conway,Element.,BA,3.2,Aug 15,84,N
100,715,M. Chendo,Conway,Secondary,MS,3.2,May 15,84,N
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,July 4,86,N
102,699,A. Woo,Seattle,Elementary,BA,3.0,May 15,92,N
103,933,CC. Artian,Atlanta,English,BA,2.9,Aug 15,91,N
104,941,D. Merdoo,Atlanta,English,MA,2.8,Aug 15,91,N

In [35]:
invalid_format_df

     ID     Name  Address    Major Degree  GPA MonthDay   Y Status
72  417  T. Dool  Atlanta  English     MS  3.9      Jul  92      O

In [36]:
# Create two new DataFrames for 'Month' and 'Day' with specific column names
df_month = df1_2['MonthDay'].str.split(' ', expand=True).rename(columns={0: 'Month'})
df_day = df1_2['MonthDay'].str.split(' ', expand=True).rename(columns={1: 'Day'})

In [37]:
# Drop the unnecessary columns
df_month = df_month.drop(columns=1)  # Drop the 1 column in df_month
df_day = df_day.drop(columns=0)      # Drop the 0 column in df_day

In [38]:
# Ensure all month names are three characters and replace them in the df_month DataFrame
df_month['Month'] = df_month['Month'].apply(lambda x: month_name_fix.get(x, x))
df_month

    Month
0     Aug
1     Aug
2     Dec
3     Aug
4     May
5     Jul
6     Jul
7     Jun
8     Dec
9     May
10    May
11    May
12    May
13    Jun
14    Jul
15    May
16    Jul
17    Jul
18    May
19    May
20    Jul
21    Aug
22    Jun
23    Aug
24    Aug
25    Aug
26    Aug
27    Dec
28    Jul
29    Dec
30    Jul
31    Aug
32    Jun
33    Jun
34    Jul
35    Dec
36    Jul
37    Aug
38    May
39    Aug
40    Aug
41    Dec
42    May
43    Jun
44    Dec
45    Aug
46    Jun
47    Jul
48    Jul
49    May
50    Dec
51    Aug
52    Aug
53    May
54    Aug
55    May
56    May
57    Dec
58    Aug
59    Aug
60    Aug
61    Aug
62    Aug
63    Aug
64    Aug
65    Aug
66    Aug
67    Jul
68    Jul
69    Dec
70    Dec
71    Aug
73    Dec
74    Dec
75    Aug
76    May
77    Jul
78    May
79    Dec
80    May
81    Jun
82    Aug
83    Jul
84    Jul
85    May
86    Jul
87    Jul
88    May
89    Dec
90    Jul
91    Dec
92    May
93    Jul
94    Jul
95    May
96    Dec
97    Jul
98    Dec
99    Aug
100   May
101   Jul
102   May
103   Aug
104   Aug

In [31]:
df_month

    Month
0     Aug
1     Aug
2     Dec
3     Aug
4     May
5    July
6    July
7    June
8     Dec
9     May
10    May
11    May
12    May
13   June
14   July
15    May
16   July
17   July
18    May
19    May
20   July
21    Aug
22   June
23    Aug
24    Aug
25    Aug
26    Aug
27    Dec
28   July
29    Dec
30   July
31    Aug
32   June
33   June
34   July
35    Dec
36   July
37    Aug
38    May
39    Aug
40    Aug
41    Dec
42    May
43   June
44    Dec
45    Aug
46   June
47   July
48   July
49    May
50    Dec
51    Aug
52    Aug
53    May
54    Aug
55    May
56    May
57    Dec
58    Aug
59    Aug
60    Aug
61    Aug
62    Aug
63    Aug
64    Aug
65    Aug
66    Aug
67   July
68   July
69    Dec
70    Dec
71    Aug
73    Dec
74    Dec
75    Aug
76    May
77   July
78    May
79    Dec
80    May
81   June
82    Aug
83   July
84   July
85    May
86   July
87   July
88    May
89    Dec
90   July
91    Dec
92    May
93   July
94   July
95    May
96    Dec
97   July
98    Dec
99    Aug
100   May
101  July
102   May
103   Aug
104   Aug

In [39]:
df_day

    Day
0    15
1    15
2    15
3    15
4    15
5    48
6     4
7     1
8    15
9    15
10   15
11   15
12   15
13    1
14    4
15   15
16    4
17    4
18   15
19   15
20    4
21   15
22    1
23   15
24   15
25   15
26   15
27   15
28    4
29   15
30   15
31   15
32    1
33   18
34   15
35   15
36    4
37   15
38   15
39   15
40   15
41   15
42   15
43    1
44   15
45   15
46    1
47    4
48    4
49   15
50   15
51   15
52   15
53   15
54   15
55   15
56   15
57   15
58   15
59   15
60   15
61   15
62   15
63   15
64   15
65   15
66   15
67    4
68    4
69   15
70   15
71   15
73   15
74   15
75   15
76   15
77    4
78   15
79   15
80   15
81    1
82   15
83    4
84    4
85   15
86    4
87    4
88   15
89   15
90    4
91   15
92   15
93    4
94    4
95   15
96   15
97    4
98   15
99   15
100  15
101   4
102  15
103  15
104  15

In [40]:
df_day['Day'] = df_day['Day'].str.zfill(2)
df_day['Day']

0      15
1      15
2      15
3      15
4      15
5      48
6      04
7      01
8      15
9      15
10     15
11     15
12     15
13     01
14     04
15     15
16     04
17     04
18     15
19     15
20     04
21     15
22     01
23     15
24     15
25     15
26     15
27     15
28     04
29     15
30     15
31     15
32     01
33     18
34     15
35     15
36     04
37     15
38     15
39     15
40     15
41     15
42     15
43     01
44     15
45     15
46     01
47     04
48     04
49     15
50     15
51     15
52     15
53     15
54     15
55     15
56     15
57     15
58     15
59     15
60     15
61     15
62     15
63     15
64     15
65     15
66     15
67     04
68     04
69     15
70     15
71     15
73     15
74     15
75     15
76     15
77     04
78     15
79     15
80     15
81     01
82     15
83     04
84     04
85     15
86     04
87     04
88     15
89     15
90     04
91     15
92     15
93     04
94     04
95     15
96     15
97     04
98     15
99     15
100    15
101    04
102    15
103    15
104    15
Name: Day, dtype: object

In [41]:
# Create two new DataFrames for 'Month' and 'Day'
df_month_day[] = df1_2['MonthDay'].str.split(' ', expand=True)

SyntaxError: invalid syntax (957181533.py, line 2)

In [ ]:
df_month_day

Convert the 'Y' column of year from a 2-digit number to a 4 digit number by adding 19 to each row since we know all dates are in the 1900s.

In [42]:
df1_2['Y'] = df1_2['Y'].apply(lambda x: '19' + str(x) if len(str(x)) <= 2 else x)
df1_2['Y']

0      1991
1      1991
2      1989
3      1992
4      1990
5      1987
6      1984
7      1987
8      1991
9      1984
10     1987
11     1984
12     1992
13     1987
14     1984
15     1990
16     1990
17     1987
18     1987
19     1987
20     1987
21     1990
22     1987
23     1990
24     1990
25     1990
26     1991
27     1992
28     1987
29     1990
30     1987
31     1991
32     1984
33     1987
34     1984
35     1989
36     1988
37     1992
38     1987
39     1991
40     1990
41     1988
42     1990
43     1987
44     1988
45     1988
46     1992
47     1988
48     1989
49     1991
50     1990
51     1984
52     1989
53     1990
54     1991
55     1987
56     1987
57     1989
58     1986
59     1986
60     1986
61     1991
62     1987
63     1987
64     1991
65     1987
66     1987
67     1984
68     1984
69     1985
70     1985
71     1985
73     1992
74     1992
75     1984
76     1984
77     1986
78     1992
79     1988
80     1992
81     1992
82     1984
83     1984
84     1986
85     1992
86     1984
87     1986
88     1992
89     1988
90     1984
91     1988
92     1992
93     1984
94     1986
95     1992
96     1988
97     1984
98     1988
99     1984
100    1984
101    1986
102    1992
103    1991
104    1991
Name: Y, dtype: object

Create a new column df1_2['FullDate'] that takes the df1_2['MonthDay'] and df1_2['Y'] and merges them.

In [43]:
df1_2['FullDate'] = df1_2['Y'].astype(str) + ' ' + df_month['Month'] + ' ' + df_day['Day']
df1_2['FullDate']

0      1991 Aug 15
1      1991 Aug 15
2      1989 Dec 15
3      1992 Aug 15
4      1990 May 15
5      1987 Jul 48
6      1984 Jul 04
7      1987 Jun 01
8      1991 Dec 15
9      1984 May 15
10     1987 May 15
11     1984 May 15
12     1992 May 15
13     1987 Jun 01
14     1984 Jul 04
15     1990 May 15
16     1990 Jul 04
17     1987 Jul 04
18     1987 May 15
19     1987 May 15
20     1987 Jul 04
21     1990 Aug 15
22     1987 Jun 01
23     1990 Aug 15
24     1990 Aug 15
25     1990 Aug 15
26     1991 Aug 15
27     1992 Dec 15
28     1987 Jul 04
29     1990 Dec 15
30     1987 Jul 15
31     1991 Aug 15
32     1984 Jun 01
33     1987 Jun 18
34     1984 Jul 15
35     1989 Dec 15
36     1988 Jul 04
37     1992 Aug 15
38     1987 May 15
39     1991 Aug 15
40     1990 Aug 15
41     1988 Dec 15
42     1990 May 15
43     1987 Jun 01
44     1988 Dec 15
45     1988 Aug 15
46     1992 Jun 01
47     1988 Jul 04
48     1989 Jul 04
49     1991 May 15
50     1990 Dec 15
51     1984 Aug 15
52     1989 Aug 15
53     1990 May 15
54     1991 Aug 15
55     1987 May 15
56     1987 May 15
57     1989 Dec 15
58     1986 Aug 15
59     1986 Aug 15
60     1986 Aug 15
61     1991 Aug 15
62     1987 Aug 15
63     1987 Aug 15
64     1991 Aug 15
65     1987 Aug 15
66     1987 Aug 15
67     1984 Jul 04
68     1984 Jul 04
69     1985 Dec 15
70     1985 Dec 15
71     1985 Aug 15
73     1992 Dec 15
74     1992 Dec 15
75     1984 Aug 15
76     1984 May 15
77     1986 Jul 04
78     1992 May 15
79     1988 Dec 15
80     1992 May 15
81     1992 Jun 01
82     1984 Aug 15
83     1984 Jul 04
84     1986 Jul 04
85     1992 May 15
86     1984 Jul 04
87     1986 Jul 04
88     1992 May 15
89     1988 Dec 15
90     1984 Jul 04
91     1988 Dec 15
92     1992 May 15
93     1984 Jul 04
94     1986 Jul 04
95     1992 May 15
96     1988 Dec 15
97     1984 Jul 04
98     1988 Dec 15
99     1984 Aug 15
100    1984 May 15
101    1986 Jul 04
102    1992 May 15
103    1991 Aug 15
104    1991 Aug 15
Name: FullDate, dtype: object

In [44]:
for date_str in df1_2['FullDate']:
    try:
        pd.to_datetime(date_str, format='%Y %b %d')
    except Exception as e:
        print(f"Error: {e}, Date String: {date_str}")

Error: unconverted data remains when parsing with format "%Y %b %d": "8", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this., Date String: 1987 Jul 48

## 'Semester' Column

In [45]:
def classify_semester(date_str):
    # Check if the date string matches the expected format
    if not re.match(r'^\d{4} [A-Za-z]{3} \d{2}$', date_str):
        return 'Invalid Format'  # Return a label for invalid formats
    
     # Try to convert the date string to a datetime object
    try:
        date = pd.to_datetime(date_str, format='%Y %b %d')
    except ValueError:
        return 'Invalid Date'  # Return a label for invalid dates
    
    # Define the semester boundaries
    semesters = [
        ('F', pd.Timestamp(date.year, 8, 16), pd.Timestamp(date.year, 12, 15)),
        ('S', pd.Timestamp(date.year, 12, 16), pd.Timestamp(date.year + 1, 5, 15)),
        ('Summer1', pd.Timestamp(date.year, 5, 16), pd.Timestamp(date.year, 6, 1)),
        ('Summer2', pd.Timestamp(date.year, 6, 2), pd.Timestamp(date.year, 7, 4)),
        ('Summer3', pd.Timestamp(date.year, 7, 5), pd.Timestamp(date.year, 7, 15)),
        ('Summer4', pd.Timestamp(date.year, 7, 16), pd.Timestamp(date.year, 8, 15))
    ]
    
    # Check if the date falls within the "S" (Spring) semester
    if semesters[1][0] == 'S' and semesters[1][1] <= date <= semesters[1][2]:
        return 'S'
    
    # Classify the date into a semester based on the boundaries
    for semester, start, end in semesters:
        if start <= date <= end:
            return semester
    
    return 'Unknown'

In [46]:
# Check for problematic entries in the 'FullDate' column
problematic_dates = df1_2[df1_2['FullDate'].str.match(r'^\d{4} [A-Za-z]{3} \d{2}$') == False]['FullDate']

In [47]:
problematic_dates

Series([], Name: FullDate, dtype: object)

In [48]:
df1_2['PrelimSemester'] = df1_2['FullDate'].apply(classify_semester)
df1_2['PrelimSemester']

0           Summer4
1           Summer4
2                 F
3           Summer4
4           Unknown
5      Invalid Date
6           Summer2
7           Summer1
8                 F
9           Unknown
10          Unknown
11          Unknown
12          Unknown
13          Summer1
14          Summer2
15          Unknown
16          Summer2
17          Summer2
18          Unknown
19          Unknown
20          Summer2
21          Summer4
22          Summer1
23          Summer4
24          Summer4
25          Summer4
26          Summer4
27                F
28          Summer2
29                F
30          Summer3
31          Summer4
32          Summer1
33          Summer2
34          Summer3
35                F
36          Summer2
37          Summer4
38          Unknown
39          Summer4
40          Summer4
41                F
42          Unknown
43          Summer1
44                F
45          Summer4
46          Summer1
47          Summer2
48          Summer2
49          Unknown
50                F
51          Summer4
52          Summer4
53          Unknown
54          Summer4
55          Unknown
56          Unknown
57                F
58          Summer4
59          Summer4
60          Summer4
61          Summer4
62          Summer4
63          Summer4
64          Summer4
65          Summer4
66          Summer4
67          Summer2
68          Summer2
69                F
70                F
71          Summer4
73                F
74                F
75          Summer4
76          Unknown
77          Summer2
78          Unknown
79                F
80          Unknown
81          Summer1
82          Summer4
83          Summer2
84          Summer2
85          Unknown
86          Summer2
87          Summer2
88          Unknown
89                F
90          Summer2
91                F
92          Unknown
93          Summer2
94          Summer2
95          Unknown
96                F
97          Summer2
98                F
99          Summer4
100         Unknown
101         Summer2
102         Unknown
103         Summer4
104         Summer4
Name: PrelimSemester, dtype: object

In [49]:
df1_2['Semester'] = df1_2['PrelimSemester'].replace({
    'Unknown': 'S',
    'Summer1': 'Sum1',
    'Summer2': 'Sum1',
    'Summer3': 'Sum2',
    'Summer4': 'Sum2'
})
df1_2['Semester']

0              Sum2
1              Sum2
2                 F
3              Sum2
4                 S
5      Invalid Date
6              Sum1
7              Sum1
8                 F
9                 S
10                S
11                S
12                S
13             Sum1
14             Sum1
15                S
16             Sum1
17             Sum1
18                S
19                S
20             Sum1
21             Sum2
22             Sum1
23             Sum2
24             Sum2
25             Sum2
26             Sum2
27                F
28             Sum1
29                F
30             Sum2
31             Sum2
32             Sum1
33             Sum1
34             Sum2
35                F
36             Sum1
37             Sum2
38                S
39             Sum2
40             Sum2
41                F
42                S
43             Sum1
44                F
45             Sum2
46             Sum1
47             Sum1
48             Sum1
49                S
50                F
51             Sum2
52             Sum2
53                S
54             Sum2
55                S
56                S
57                F
58             Sum2
59             Sum2
60             Sum2
61             Sum2
62             Sum2
63             Sum2
64             Sum2
65             Sum2
66             Sum2
67             Sum1
68             Sum1
69                F
70                F
71             Sum2
73                F
74                F
75             Sum2
76                S
77             Sum1
78                S
79                F
80                S
81             Sum1
82             Sum2
83             Sum1
84             Sum1
85                S
86             Sum1
87             Sum1
88                S
89                F
90             Sum1
91                F
92                S
93             Sum1
94             Sum1
95                S
96                F
97             Sum1
98                F
99             Sum2
100               S
101            Sum1
102               S
103            Sum2
104            Sum2
Name: Semester, dtype: object

In [50]:
df1_2

,ID,Name,Address,Major,Degree,GPA,MonthDay,Y,Status,FullDate,PrelimSemester,Semester
0,933,GG. Art,Savannah,English,BA,3.1,Aug 15,1991,N,1991 Aug 15,Summer4,Sum2
1,941,BB. Mercy,Savannah,English,MA,4.0,Aug 15,1991,N,1991 Aug 15,Summer4,Sum2
2,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec 15,1989,I,1989 Dec 15,F,F
3,667,K. Chen,Conway,Elementary,EdD,3.2,Aug 15,1992,O,1992 Aug 15,Summer4,Sum2
4,529,M. Yu,Conway,Secondary,MS,3.2,May 15,1990,I,1990 May 15,Unknown,S
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,July 48,1987,O,1987 Jul 48,Invalid Date,Invalid Date
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,July 4,1984,N,1984 Jul 04,Summer2,Sum1
7,688,Y. Crema,Little Rock,Biology,AS,2.2,June 1,1987,N,1987 Jun 01,Summer1,Sum1
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,Dec 15,1991,O,1991 Dec 15,F,F
9,100,A. Jones,Little Rock,Computer Sc,BS,3.1,May 15,1984,I,1984 May 15,Unknown,S
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,1987,N,1987 May 15,Unknown,S
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,May 15,1984,N,1984 May 15,Unknown,S
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,1992,I,1992 May 15,Unknown,S
13,300,C. Cook,Little Rock,Biology,BS,2.2,June 1,1987,I,1987 Jun 01,Summer1,Sum1
14,400,D. Morty,Atlanta,Biology,BS,3.9,July 4,1984,N,1984 Jul 04,Summer2,Sum1
15,422,U. Yu,Conway,Secondary,MS,3.2,May 15,1990,O,1990 May 15,Unknown,S
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,July 4,1990,O,1990 Jul 04,Summer2,Sum1
17,401,D. Morgan,Conway,Biology,BS,3.9,July 4,1987,I,1987 Jul 04,Summer2,Sum1
18,702,Y. Brady,Conway,Applied Sc,PhD,3.2,May 15,1987,I,1987 May 15,Unknown,S
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,May 15,1987,I,1987 May 15,Unknown,S
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,July 4,1987,N,1987 Jul 04,Summer2,Sum1
21,415,T. King,Conway,Elementary,EdD,3.2,Aug 15,1990,N,1990 Aug 15,Summer4,Sum2
22,901,C. Crema,Little Rock,Biology,AS,2.2,June 1,1987,O,1987 Jun 01,Summer1,Sum1
23,222,D. Abul,Savannah,Economics,BA,3.9,Aug 15,1990,N,1990 Aug 15,Summer4,Sum2
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Aug 15,1990,N,1990 Aug 15,Summer4,Sum2
25,431,W.Goos,Savannah,Accounting,BA,4.1,Aug 15,1990,O,1990 Aug 15,Summer4,Sum2
26,421,T. Chen,Conway,Elementary,EdD,3.2,Aug 15,1991,I,1991 Aug 15,Summer4,Sum2
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,Dec 15,1992,I,1992 Dec 15,F,F
28,689,Y. Morgan,Conway,Biology,BS,3.9,July 4,1987,N,1987 Jul 04,Summer2,Sum1
29,195,D. Red,Seattle,Info Sc,BS,2.1,Dec 15,1990,O,1990 Dec 15,F,F
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,July 15,1987,O,1987 Jul 15,Summer3,Sum2
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Aug 15,1991,I,1991 Aug 15,Summer4,Sum2
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,June 1,1984,N,1984 Jun 01,Summer1,Sum1
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,June 18,1987,N,1987 Jun 18,Summer2,Sum1
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,July 15,1984,O,1984 Jul 15,Summer3,Sum2
35,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec 15,1989,O,1989 Dec 15,F,F
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,July 4,1988,O,1988 Jul 04,Summer2,Sum1
37,132,A. White,Orlando,Computer Sc,AS,3.9,Aug 15,1992,N,1992 Aug 15,Summer4,Sum2
38,100,A. Jones,Little Rock,Computer Sc,MS,3.2,May 15,1987,N,1987 May 15,Unknown,S
39,232,K. Blue,Little Rock,English,AS,3.1,Aug 15,1991,I,1991 Aug 15,Summer4,Sum2
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Aug 15,1990,O,1990 Aug 15,Summer4,Sum2
41,600,C. Jones,Dallas,Info Sc,BS,4.0,Dec 15,1988,O,1988 Dec 15,F,F
42,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,1990,O,1990 May 15,Unknown,S
43,682,Y. Cook,Little Rock,Biology,BS,2.2,June 1,1987,O,1987 Jun 01,Summer1,Sum1
44,400,D. Morty,Seattle,Info Sc,BS,2.1,Dec 15,1988,I,1988 Dec 15,F,F
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Aug 15,1988,I,1988 Aug 15,Summer4,Sum2
46,590,X. Cook,Little Rock,Biology,AS,2.2,June 1,1992,N,1992 Jun 01,Summer1,Sum1
47,690,D. Brown,Atlanta,Biology,BS,3.9,July 4,1988,N,1988 Jul 04,Summer2,Sum1
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,July 4,1989,N,1989 Jul 04,Summer2,Sum1
49,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,1991,N,1991 May 15,Unknown,S
50,185,X. Jones,New York,Info Sc,BS,4.0,Dec 15,1990,N,1990 Dec 15,F,F
51,700,A. Boss,Seattle,Elementary,MS,3.3,Aug 15,1984,I,1984 Aug 15,Summer4,Sum2
52,800,K. Queen,Conway,Elementary,EdD,3.2,Aug 15,1989,O,1989 Aug 15,Summer4,Sum2
53,416,T. Gola,Conway,Secondary,MS,3.2,May 15,1990,N,1990 May 15,Unknown,S
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Aug 15,1991,N,1991 Aug 15,Summer4,Sum2
55,900,B. Gola,Conway,Secondary,MS,3.2,May 15,1987,I,1987 May 15,Unknown,S
56,955,K. Booth,Atlanta,Secondary,MS,3.9,May 15,1987,O,1987 May 15,Unknown,S
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,Dec 15,1989,O,1989 Dec 15,F,F
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Aug 15,1986,I,1986 Aug 15,Summer4,Sum2
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Aug 15,1986,N,1986 Aug 15,Summer4,Sum2
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Aug 15,1986,N,1986 Aug 15,Summer4,Sum2
61,229,M. Katchal,Savannah,Economics,BA,3.0,Aug 15,1991,N,1991 Aug 15,Summer4,Sum2
62,339,H.Poory,Atlanta,B Admin,BA,3.9,Aug 15,1987,N,1987 Aug 15,Summer4,Sum2
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Aug 15,1987,O,1987 Aug 15,Summer4,Sum2
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Aug 15,1991,N,1991 Aug 15,Summer4,Sum2
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,Aug 15,1987,N,1987 Aug 15,Summer4,Sum2
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Aug 15,1987,O,1987 Aug 15,Summer4,Sum2
67,650,D. Sorty,Atlanta,Biology,BS,3.9,July 4,1984,N,1984 Jul 04,Summer2,Sum1
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,July 4,1984,N,1984 Jul 04,Summer2,Sum1
69,850,F. Jones,New York,Info Sc,BS,4.0,Dec 15,1985,I,1985 Dec 15,F,F
70,950,D. Golden,Seattle,Info Sc,BS,2.1,Dec 15,1985,I,1985 Dec 15,F,F
71,165,A. Silver,Seattle,Elementary,MS,3.3,Aug 15,1985,O,1985 Aug 15,Summer4,Sum2
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,Dec 15,1992,O,1992 Dec 15,F,F
74,419,T. Red,Seattle,Info Sc,BS,2.1,Dec 15,1992,O,1992 Dec 15,F,F
75,215,K. King,Conway,Elementary,EdD,3.2,Aug 15,1984,N,1984 Aug 15,Summer4,Sum2
76,315,M. Gola,Conway,English,MS,3.2,May 15,1984,N,1984 May 15,Unknown,S
77,255,K. Dool,Atlanta,Engl,MS,3.9,July 4,1986,N,1986 Jul 04,Summer2,Sum1
78,299,M. Golab,Seatel,Chemistry,BS,3.0,May 15,1992,N,1992 May 15,Unknown,S
79,199,K. Duell,Atlanta,Biology,AS,4.0,Dec 15,1988,I,1988 Dec 15,F,F
80,473,M. Browny,Seattle,CS,PhD,4.0,May 15,1992,I,1992 May 15,Unknown,S
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,June 1,1992,O,1992 Jun 01,Summer1,Sum1
82,205,K. Minges,Conway,Elementary,EdD,3.2,Aug 15,1984,N,1984 Aug 15,Summer4,Sum2
83,305,H. Molar,Conway,Biology,MS,3.2,July 4,1984,N,1984 Jul 04,Summer2,Sum1
84,207,K. Goolar,Atlanta,Chemistry,MS,3.9,July 4,1986,N,1986 Jul 04,Summer2,Sum1
85,107,M. Kochaal,Savannah,Chemistry,BS,3.9,May 15,1992,N,1992 May 15,Unknown,S
86,305,M. Searsy,Conway,Biol,MS,3.2,July 4,1984,N,1984 Jul 04,Summer2,Sum1
87,207,P. Little,Atlanta,Chemistry,MS,3.9,July 4,1986,N,1986 Jul 04,Summer2,Sum1
88,107,M. Big,Little Rock,Chemistry,BS,3.9,May 15,1992,O,1992 May 15,Unknown,S
89,109,P. Board,Atlanta,Chem,AS,4.0,Dec 15,1988,I,1988 Dec 15,F,F
90,305,M. Korp,Conway,Biology,MS,3.2,July 4,1984,N,1984 Jul 04,Summer2,Sum1
91,109,G. Bear,Little Rock,Biology,AS,4.0,Dec 15,1988,O,1988 Dec 15,F,F
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,May 15,1992,N,1992 May 15,Unknown,S
93,391,X. Searsy,Conway,Biology,MS,3.2,July 4,1984,N,1984 Jul 04,Summer2,Sum1
94,201,Y. Little,Atlanta,Chemistry,MS,3.9,July 4,1986,N,1986 Jul 04,Summer2,Sum1
95,117,W. Big,Little Rock,Chemistry,BS,3.9,May 15,1992,O,1992 May 15,Unknown,S
96,612,V. Board,Atlanta,Chemistry,AS,4.0,Dec 15,1988,I,1988 Dec 15,F,F
97,305,M. Kartsoo,Conway,Biology,MS,3.2,July 4,1984,N,1984 Jul 04,Summer2,Sum1
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,Dec 15,1988,O,1988 Dec 15,F,F
99,615,K. Jiring,Conway,Element.,BA,3.2,Aug 15,1984,N,1984 Aug 15,Summer4,Sum2
100,715,M. Chendo,Conway,Secondary,MS,3.2,May 15,1984,N,1984 May 15,Unknown,S
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,July 4,1986,N,1986 Jul 04,Summer2,Sum1
102,699,A. Woo,Seattle,Elementary,BA,3.0,May 15,1992,N,1992 May 15,Unknown,S
103,933,CC. Artian,Atlanta,English,BA,2.9,Aug 15,1991,N,1991 Aug 15,Summer4,Sum2
104,941,D. Merdoo,Atlanta,English,MA,2.8,Aug 15,1991,N,1991 Aug 15,Summer4,Sum2

Drop unnecessary columns for merge.

In [54]:
df1_2 = df1_2.drop(['FullDate', 'PrelimSemester', 'MonthDay'], axis=1)
df1_2

,ID,Name,Address,Major,Degree,GPA,Y,Status,Semester
0,933,GG. Art,Savannah,English,BA,3.1,1991,N,Sum2
1,941,BB. Mercy,Savannah,English,MA,4.0,1991,N,Sum2
2,356,C. Brown,Denver,Applied Sc,PhD,4.0,1989,I,F
3,667,K. Chen,Conway,Elementary,EdD,3.2,1992,O,Sum2
4,529,M. Yu,Conway,Secondary,MS,3.2,1990,I,S
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,1987,O,Invalid Date
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,1984,N,Sum1
7,688,Y. Crema,Little Rock,Biology,AS,2.2,1987,N,Sum1
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,1991,O,F
9,100,A. Jones,Little Rock,Computer Sc,BS,3.1,1984,I,S
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,1987,N,S
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,1984,N,S
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,1992,I,S
13,300,C. Cook,Little Rock,Biology,BS,2.2,1987,I,Sum1
14,400,D. Morty,Atlanta,Biology,BS,3.9,1984,N,Sum1
15,422,U. Yu,Conway,Secondary,MS,3.2,1990,O,S
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,1990,O,Sum1
17,401,D. Morgan,Conway,Biology,BS,3.9,1987,I,Sum1
18,702,Y. Brady,Conway,Applied Sc,PhD,3.2,1987,I,S
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,1987,I,S
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,1987,N,Sum1
21,415,T. King,Conway,Elementary,EdD,3.2,1990,N,Sum2
22,901,C. Crema,Little Rock,Biology,AS,2.2,1987,O,Sum1
23,222,D. Abul,Savannah,Economics,BA,3.9,1990,N,Sum2
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,1990,N,Sum2
25,431,W.Goos,Savannah,Accounting,BA,4.1,1990,O,Sum2
26,421,T. Chen,Conway,Elementary,EdD,3.2,1991,I,Sum2
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,1992,I,F
28,689,Y. Morgan,Conway,Biology,BS,3.9,1987,N,Sum1
29,195,D. Red,Seattle,Info Sc,BS,2.1,1990,O,F
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,1987,O,Sum2
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,1991,I,Sum2
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,1984,N,Sum1
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,1987,N,Sum1
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,1984,O,Sum2
35,356,C. Brown,Denver,Applied Sc,PhD,4.0,1989,O,F
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,1988,O,Sum1
37,132,A. White,Orlando,Computer Sc,AS,3.9,1992,N,Sum2
38,100,A. Jones,Little Rock,Computer Sc,MS,3.2,1987,N,S
39,232,K. Blue,Little Rock,English,AS,3.1,1991,I,Sum2
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,1990,O,Sum2
41,600,C. Jones,Dallas,Info Sc,BS,4.0,1988,O,F
42,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,1990,O,S
43,682,Y. Cook,Little Rock,Biology,BS,2.2,1987,O,Sum1
44,400,D. Morty,Seattle,Info Sc,BS,2.1,1988,I,F
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,1988,I,Sum2
46,590,X. Cook,Little Rock,Biology,AS,2.2,1992,N,Sum1
47,690,D. Brown,Atlanta,Biology,BS,3.9,1988,N,Sum1
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,1989,N,Sum1
49,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,1991,N,S
50,185,X. Jones,New York,Info Sc,BS,4.0,1990,N,F
51,700,A. Boss,Seattle,Elementary,MS,3.3,1984,I,Sum2
52,800,K. Queen,Conway,Elementary,EdD,3.2,1989,O,Sum2
53,416,T. Gola,Conway,Secondary,MS,3.2,1990,N,S
54,420,T. Silver,Seattle,Elementary,EdD,3.3,1991,N,Sum2
55,900,B. Gola,Conway,Secondary,MS,3.2,1987,I,S
56,955,K. Booth,Atlanta,Secondary,MS,3.9,1987,O,S
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,1989,O,F
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,1986,I,Sum2
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,1986,N,Sum2
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,1986,N,Sum2
61,229,M. Katchal,Savannah,Economics,BA,3.0,1991,N,Sum2
62,339,H.Poory,Atlanta,B Admin,BA,3.9,1987,N,Sum2
63,439,H. Mishu,Savannah,Accounting,BA,2.8,1987,O,Sum2
64,329,G. Kooper,Savannah,Accounting,BA,3.0,1991,N,Sum2
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,1987,N,Sum2
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,1987,O,Sum2
67,650,D. Sorty,Atlanta,Biology,BS,3.9,1984,N,Sum1
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,1984,N,Sum1
69,850,F. Jones,New York,Info Sc,BS,4.0,1985,I,F
70,950,D. Golden,Seattle,Info Sc,BS,2.1,1985,I,F
71,165,A. Silver,Seattle,Elementary,MS,3.3,1985,O,Sum2
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,1992,O,F
74,419,T. Red,Seattle,Info Sc,BS,2.1,1992,O,F
75,215,K. King,Conway,Elementary,EdD,3.2,1984,N,Sum2
76,315,M. Gola,Conway,English,MS,3.2,1984,N,S
77,255,K. Dool,Atlanta,Engl,MS,3.9,1986,N,Sum1
78,299,M. Golab,Seatel,Chemistry,BS,3.0,1992,N,S
79,199,K. Duell,Atlanta,Biology,AS,4.0,1988,I,F
80,473,M. Browny,Seattle,CS,PhD,4.0,1992,I,S
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,1992,O,Sum1
82,205,K. Minges,Conway,Elementary,EdD,3.2,1984,N,Sum2
83,305,H. Molar,Conway,Biology,MS,3.2,1984,N,Sum1
84,207,K. Goolar,Atlanta,Chemistry,MS,3.9,1986,N,Sum1
85,107,M. Kochaal,Savannah,Chemistry,BS,3.9,1992,N,S
86,305,M. Searsy,Conway,Biol,MS,3.2,1984,N,Sum1
87,207,P. Little,Atlanta,Chemistry,MS,3.9,1986,N,Sum1
88,107,M. Big,Little Rock,Chemistry,BS,3.9,1992,O,S
89,109,P. Board,Atlanta,Chem,AS,4.0,1988,I,F
90,305,M. Korp,Conway,Biology,MS,3.2,1984,N,Sum1
91,109,G. Bear,Little Rock,Biology,AS,4.0,1988,O,F
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,1992,N,S
93,391,X. Searsy,Conway,Biology,MS,3.2,1984,N,Sum1
94,201,Y. Little,Atlanta,Chemistry,MS,3.9,1986,N,Sum1
95,117,W. Big,Little Rock,Chemistry,BS,3.9,1992,O,S
96,612,V. Board,Atlanta,Chemistry,AS,4.0,1988,I,F
97,305,M. Kartsoo,Conway,Biology,MS,3.2,1984,N,Sum1
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,1988,O,F
99,615,K. Jiring,Conway,Element.,BA,3.2,1984,N,Sum2
100,715,M. Chendo,Conway,Secondary,MS,3.2,1984,N,S
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,1986,N,Sum1
102,699,A. Woo,Seattle,Elementary,BA,3.0,1992,N,S
103,933,CC. Artian,Atlanta,English,BA,2.9,1991,N,Sum2
104,941,D. Merdoo,Atlanta,English,MA,2.8,1991,N,Sum2

##### Reorganize columns

In [51]:
reorganized_columns = ['ID', 'Name', 'Address', 'Major', 'Degree', 'GPA', 'Semester', 'Y', 'Status']

In [57]:
semcleaned_df1_2 = df1_2[reorganized_columns]
semcleaned_df1_2

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,N
1,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,N
2,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,I
3,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,O
4,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,I
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,O
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,N
7,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,N
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,O
9,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,I
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,N
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,N
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,I
13,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,I
14,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,N
15,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,O
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,O
17,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,I
18,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,N
21,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,N
22,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,O
23,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,N
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,N
25,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,O
26,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,I
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,I
28,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,N
29,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,O
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,O
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,I
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,N
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,N
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,O
35,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,O
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,O
37,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,N
38,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,N
39,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,I
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,O
41,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,O
42,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,O
43,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,O
44,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,I
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,I
46,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,N
47,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,N
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,N
49,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,N
50,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,N
51,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,I
52,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,O
53,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,N
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,N
55,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,I
56,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,O
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,O
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,I
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,N
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,N
61,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,N
62,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,N
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,O
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,N
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,N
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,O
67,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,N
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,N
69,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,I
70,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,I
71,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,O
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,O
74,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,O
75,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,N
76,315,M. Gola,Conway,English,MS,3.2,S,1984,N
77,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,N
78,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,N
79,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,I
80,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,I
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,O
82,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,N
83,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,N
84,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
85,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
86,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,N
87,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
88,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
89,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,I
90,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,N
91,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,O
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
93,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,N
94,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
95,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
96,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,I
97,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,N
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,O
99,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,N
100,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,N
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,N
102,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,N
103,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,N
104,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,N

In [58]:
semcleaned_df1_2.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\semcleaned_ds1_2.csv', index=False)

Create a table that will help classify these months to their proper semester as defined in the data dictionary additional inforamtion.

Table created and saved as csv for future reference.

Create a new column 'Semester' for the converted semester outputs to be placed.

# Use existing cleaning methods on merged data

#### load in mergeddata csv

In [59]:
dirty_merge_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\dirty_merge_df.csv")
dirty_merge_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,89,I
1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,87,I
2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,84,O
3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,92,O
4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,87,O
5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,84,O
6,971,UK. Yu,Conway,Secondary,MS,3.2,F,90,O
7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,90,N
8,998,Di. Morgan,Conway,Biology,MS,3.9,S,87,N
9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,87,N
10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,87,N
11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,87,N
12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,90,N
13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,87,N
14,969,D. Abuly,Savannah,Economics,BS,3.9,S,90,NaN
15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,90,NaN
16,967,W.Goast,Savannah,Accounting,BS,4.1,F,90,NaN
17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,91,NaN
18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,92,I
19,976,YI. Torgan,Conway,Biology,AS,3.9,S,87,I
20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,90,I
21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,87,O
22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,84,O
23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,89,O
24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,90,N
25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,91,N
26,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,N
27,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,N
28,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,I
29,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,O
30,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,I
31,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,O
32,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,N
33,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,N
34,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,O
35,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,I
36,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,N
37,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,N
38,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,I
39,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,I
40,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,N
41,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,O
42,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,O
43,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,I
44,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
45,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
46,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,N
47,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,N
48,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,O
49,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,N
50,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,N
51,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,O
52,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,I
53,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,I
54,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,N
55,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,O
56,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,O
57,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,I
58,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,N
59,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,N
60,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,O
61,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,O
62,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,O
63,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,N
64,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,N
65,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,I
66,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,O
67,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,O
68,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,O
69,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,O
70,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,I
71,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,I
72,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,N
73,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,N
74,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,N
75,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,N
76,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,N
77,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,I
78,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,O
79,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,N
80,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,N
81,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,I
82,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,O
83,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,O
84,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,I
85,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,N
86,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,N
87,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,N
88,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,N
89,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,O
90,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,N
91,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,N
92,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,O
93,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,N
94,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,N
95,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,I
96,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,I
97,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,O
98,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,O
99,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,O
100,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,N
101,315,M. Gola,Conway,English,MS,3.2,S,1984,N
102,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,N
103,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,N
104,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,I
105,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,I
106,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,O
107,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,N
108,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,N
109,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
110,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
111,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,N
112,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
113,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
114,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,I
115,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,N
116,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,O
117,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
118,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,N
119,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
120,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
121,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,I
122,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,N
123,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,O
124,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,N
125,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,N
126,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,N
127,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,N
128,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,N
129,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,N

#### Apply 'Status' cleaning

In [63]:
dirty_merge_df['Status'] = dirty_merge_df['Status'].map(df1_2_status_mapping)
dirty_merge_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,89,International Student
1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,87,International Student
2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,84,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,92,Out of state
4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,87,Out of state
5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,84,Out of state
6,971,UK. Yu,Conway,Secondary,MS,3.2,F,90,Out of state
7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,90,Non-of-the above
8,998,Di. Morgan,Conway,Biology,MS,3.9,S,87,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,87,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,87,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,87,Non-of-the above
12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,90,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,87,Non-of-the above
14,969,D. Abuly,Savannah,Economics,BS,3.9,S,90,NaN
15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,90,NaN
16,967,W.Goast,Savannah,Accounting,BS,4.1,F,90,NaN
17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,91,NaN
18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,92,International Student
19,976,YI. Torgan,Conway,Biology,AS,3.9,S,87,International Student
20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,90,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,87,Out of state
22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,84,Out of state
23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,89,Out of state
24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,90,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,91,Non-of-the above
26,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,Non-of-the above
28,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,International Student
29,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,Out of state
30,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,International Student
31,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,Out of state
32,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,Non-of-the above
33,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Non-of-the above
34,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,Out of state
35,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,International Student
36,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,Non-of-the above
37,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,Non-of-the above
38,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,International Student
39,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,International Student
40,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
41,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,Out of state
42,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,Out of state
43,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,International Student
44,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
45,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
46,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,Non-of-the above
47,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,Non-of-the above
48,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Out of state
49,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,Non-of-the above
50,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,Non-of-the above
51,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,Out of state
52,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,International Student
53,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,International Student
54,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,Non-of-the above
55,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,Out of state
56,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,Out of state
57,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,International Student
58,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,Non-of-the above
59,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,Non-of-the above
60,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,Out of state
61,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,Out of state
62,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,Out of state
63,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,Non-of-the above
64,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,Non-of-the above
65,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,International Student
66,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,Out of state
67,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,Out of state
68,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,Out of state
69,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,Out of state
70,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,International Student
71,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,International Student
72,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,Non-of-the above
73,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,Non-of-the above
74,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,Non-of-the above
75,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,Non-of-the above
76,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,Non-of-the above
77,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,International Student
78,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,Out of state
79,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,Non-of-the above
80,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,Non-of-the above
81,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,International Student
82,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,Out of state
83,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,Out of state
84,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,International Student
85,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,Non-of-the above
86,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,Non-of-the above
87,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,Non-of-the above
88,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,Non-of-the above
89,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,Out of state
90,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,Non-of-the above
91,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,Non-of-the above
92,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,Out of state
93,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
94,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,Non-of-the above
95,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,International Student
96,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,International Student
97,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,Out of state
98,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,Out of state
99,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,Out of state
100,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
101,315,M. Gola,Conway,English,MS,3.2,S,1984,Non-of-the above
102,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,Non-of-the above
103,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,Non-of-the above
104,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,International Student
105,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,International Student
106,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,Out of state
107,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
108,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
109,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
110,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
111,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,Non-of-the above
112,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
113,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
114,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,International Student
115,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
116,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,Out of state
117,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
118,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
119,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
120,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
121,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,International Student
122,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
123,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,Out of state
124,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,Non-of-the above
125,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,Non-of-the above
126,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,Non-of-the above
127,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,Non-of-the above
128,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,Non-of-the above
129,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,Non-of-the above

#### Apply 'Degree' Column Check

In [64]:
mask = ~dirty_merge_df['Degree'].isin(valid_degrees)
invalid_degree_rows = dirty_merge_df[mask]
invalid_degree_rows
#mask

Empty DataFrame
Columns: [ID, Name, Address, Major, Degree, GPA, Semester, Y, Status]
Index: []

#### Apply 'Y' Column Update

In [67]:
dirty_merge_df['Y'] = dirty_merge_df['Y'].apply(lambda x: '19' + str(x) if len(str(x)) <= 2 else x)
dirty_merge_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary,MS,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,MS,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,BS,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,BS,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,AS,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,Non-of-the above
28,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,International Student
29,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,Out of state
30,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,International Student
31,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,Out of state
32,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,Non-of-the above
33,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Non-of-the above
34,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,Out of state
35,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,International Student
36,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,Non-of-the above
37,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,Non-of-the above
38,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,International Student
39,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,International Student
40,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
41,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,Out of state
42,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,Out of state
43,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,International Student
44,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
45,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
46,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,Non-of-the above
47,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,Non-of-the above
48,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Out of state
49,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,Non-of-the above
50,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,Non-of-the above
51,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,Out of state
52,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,International Student
53,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,International Student
54,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,Non-of-the above
55,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,Out of state
56,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,Out of state
57,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,International Student
58,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,Non-of-the above
59,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,Non-of-the above
60,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,Out of state
61,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,Out of state
62,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,Out of state
63,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,Non-of-the above
64,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,Non-of-the above
65,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,International Student
66,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,Out of state
67,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,Out of state
68,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,Out of state
69,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,Out of state
70,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,International Student
71,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,International Student
72,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,Non-of-the above
73,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,Non-of-the above
74,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,Non-of-the above
75,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,Non-of-the above
76,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,Non-of-the above
77,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,International Student
78,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,Out of state
79,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,Non-of-the above
80,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,Non-of-the above
81,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,International Student
82,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,Out of state
83,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,Out of state
84,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,International Student
85,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,Non-of-the above
86,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,Non-of-the above
87,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,Non-of-the above
88,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,Non-of-the above
89,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,Out of state
90,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,Non-of-the above
91,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,Non-of-the above
92,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,Out of state
93,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
94,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,Non-of-the above
95,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,International Student
96,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,International Student
97,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,Out of state
98,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,Out of state
99,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,Out of state
100,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
101,315,M. Gola,Conway,English,MS,3.2,S,1984,Non-of-the above
102,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,Non-of-the above
103,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,Non-of-the above
104,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,International Student
105,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,International Student
106,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,Out of state
107,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
108,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
109,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
110,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
111,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,Non-of-the above
112,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
113,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
114,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,International Student
115,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
116,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,Out of state
117,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
118,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
119,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
120,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
121,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,International Student
122,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
123,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,Out of state
124,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,Non-of-the above
125,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,Non-of-the above
126,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,Non-of-the above
127,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,Non-of-the above
128,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,Non-of-the above
129,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,Non-of-the above

Save a new df csv file for cleaned Degree, Semester, Status, Y columns

In [71]:
dirty_merge_df.to_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\halfcleaned_df.csv", index=False)

In [70]:
halfcleaned_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\halfcleaned_df.csv")
halfcleaned_df

,Unnamed: 0,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,1989,International Student
1,1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,1987,International Student
2,2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,1984,Out of state
3,3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,1992,Out of state
4,4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,1987,Out of state
5,5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,1984,Out of state
6,6,971,UK. Yu,Conway,Secondary,MS,3.2,F,1990,Out of state
7,7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,1990,Non-of-the above
8,8,998,Di. Morgan,Conway,Biology,MS,3.9,S,1987,Non-of-the above
9,9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,1987,Non-of-the above
10,10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,1987,Non-of-the above
11,11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,1987,Non-of-the above
12,12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,1990,Non-of-the above
13,13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,1987,Non-of-the above
14,14,969,D. Abuly,Savannah,Economics,BS,3.9,S,1990,NaN
15,15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,1990,NaN
16,16,967,W.Goast,Savannah,Accounting,BS,4.1,F,1990,NaN
17,17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,1991,NaN
18,18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,1992,International Student
19,19,976,YI. Torgan,Conway,Biology,AS,3.9,S,1987,International Student
20,20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,1990,International Student
21,21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,1987,Out of state
22,22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,1984,Out of state
23,23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,1989,Out of state
24,24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,1990,Non-of-the above
25,25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,1991,Non-of-the above
26,26,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,Non-of-the above
27,27,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,Non-of-the above
28,28,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,International Student
29,29,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,Out of state
30,30,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,International Student
31,31,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,Out of state
32,32,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,Non-of-the above
33,33,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Non-of-the above
34,34,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,Out of state
35,35,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,International Student
36,36,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,Non-of-the above
37,37,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,Non-of-the above
38,38,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,International Student
39,39,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,International Student
40,40,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
41,41,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,Out of state
42,42,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,Out of state
43,43,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,International Student
44,44,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
45,45,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
46,46,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,Non-of-the above
47,47,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,Non-of-the above
48,48,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Out of state
49,49,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,Non-of-the above
50,50,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,Non-of-the above
51,51,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,Out of state
52,52,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,International Student
53,53,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,International Student
54,54,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,Non-of-the above
55,55,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,Out of state
56,56,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,Out of state
57,57,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,International Student
58,58,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,Non-of-the above
59,59,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,Non-of-the above
60,60,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,Out of state
61,61,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,Out of state
62,62,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,Out of state
63,63,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,Non-of-the above
64,64,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,Non-of-the above
65,65,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,International Student
66,66,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,Out of state
67,67,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,Out of state
68,68,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,Out of state
69,69,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,Out of state
70,70,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,International Student
71,71,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,International Student
72,72,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,Non-of-the above
73,73,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,Non-of-the above
74,74,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,Non-of-the above
75,75,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,Non-of-the above
76,76,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,Non-of-the above
77,77,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,International Student
78,78,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,Out of state
79,79,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,Non-of-the above
80,80,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,Non-of-the above
81,81,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,International Student
82,82,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,Out of state
83,83,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,Out of state
84,84,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,International Student
85,85,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,Non-of-the above
86,86,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,Non-of-the above
87,87,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,Non-of-the above
88,88,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,Non-of-the above
89,89,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,Out of state
90,90,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,Non-of-the above
91,91,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,Non-of-the above
92,92,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,Out of state
93,93,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
94,94,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,Non-of-the above
95,95,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,International Student
96,96,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,International Student
97,97,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,Out of state
98,98,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,Out of state
99,99,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,Out of state
100,100,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
101,101,315,M. Gola,Conway,English,MS,3.2,S,1984,Non-of-the above
102,102,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,Non-of-the above
103,103,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,Non-of-the above
104,104,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,International Student
105,105,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,International Student
106,106,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,Out of state
107,107,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
108,108,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
109,109,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
110,110,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
111,111,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,Non-of-the above
112,112,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
113,113,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
114,114,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,International Student
115,115,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
116,116,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,Out of state
117,117,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
118,118,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
119,119,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
120,120,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
121,121,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,International Student
122,122,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
123,123,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,Out of state
124,124,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,Non-of-the above
125,125,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,Non-of-the above
126,126,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,Non-of-the above
127,127,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,Non-of-the above
128,128,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,Non-of-the above
129,129,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,Non-of-the above